{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block main %}
<form class="password-form" method="post">
    <div class="col-7 password-block">
        <div class="password-header">
            <h1 class="password-title">Change password</h1>
            <a href="{% url 'profile' %}">Back to profile</a>
        </div>
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary btn-save-changes profile-button__save">Save changes</button>

    </div>
</form>
{% endblock %}