{% extends "snippets/base.html" %}
{% load static %}
{% load crispy_forms_filters %}


{% block main %}
<form class="profile-form" method="post">
    <div class="profile-block">
        <div class="profile-form__image">
            <h1 class="profile-title">Profile</h1>
            <img class="profile-image" src="{% static 'image/default-user.png' %}"/>
        </div>
        <div class="profile-form__info">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="profile-subscription mb-3">
                {% if plan is None %}
                    <p class="">Subscription</p>
                    <a href="{% url 'dfs_subscribe_list' %}" class="btn btn-outline-success">Subscribe</a>
                {% else %}
                    <p class=""><a href="">{{ plan.plan_name }} subscription</a></p>
                    <a class="btn btn-outline-danger"
                       href="{% url 'dfs_subscribe_cancel' subscription_id=subscription_id %}">Cancel subscription
                    </a>
                    <input type="hidden" name="plan_id" value="{{ plan.pk }}">
                {% endif %}
            </div>
            <div class="profile-buttons">
                <a href="{% url 'change-password' %}" class="profile-password-link">Change password</a>
            </div>
            <div class="profile-button">
                <button type="submit" class="btn btn-primary profile-button__save mb-4">Save changes</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}