{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% load i18n %}

{% block title %}Sign Up - CloudStorage{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        <div class="signup-card">
            <h2 class="signup-card__title">Sign up</h2>
            {{ form|crispy }}
            <input type="hidden" name="plan_id" value="439f2a75-5d03-4e8b-89a2-c7e705d185f6">
            <input type="hidden" name="plan_name" value="Basic">
            <input type="hidden" name="redirect_from" value="signup">
            <button type="submit" class="button-positive">{{ "Sign Up"|safe }}</button>
        </div>
    </form>
{% endblock %}