{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% load i18n %}

{% block title %}Sign Up - CloudStorage{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        <div class="signup-card">
            <h2 class="signup-card__title">Sign up</h2>
            {{ form|crispy }}
            <input type="hidden" name="plan_id" value="2f3f7fab-23f1-4da2-b9c9-4505a8d34cb7">
            <input type="hidden" name="plan_name" value="Standard">
            <input type="hidden" name="redirect_from" value="signup">
            <button type="submit" class="button-positive">{{ "Sign Up"|safe }}</button>
        </div>
    </form>
{% endblock %}