{% extends 'snippets/base.html' %}
{% load crispy_forms_filters %}

{% load i18n %}

{% block title %}Sign Up - CloudStorage{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        <div class="signup-card col-7 form-card">
            <h2 class="signup-card__title">Sign up</h2>
            {{ form|crispy }}
            <input type="hidden" name="plan_id" value={{ plan_id }}>
            <input type="hidden" name="redirect_from" value="signup">
            <button type="submit" class="btn btn-success signup-button">{{ "Sign Up"|safe }}</button>
        </div>
    </form>

{% endblock %}