{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% load i18n %}

{% block title %}Sign Up - CloudStorage{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        <div class="signup-card">
            <h2 class="signup-card__title">Sign up</h2>
            {{ form|crispy }}
            <input type="hidden" name="plan_id" value="c5f70d97-08ae-46e8-a75a-782fa8a706e3">
            <input type="hidden" name="plan_name" value="Standard">
            <input type="hidden" name="redirect_from" value="signup">
            <button type="submit" class="button-positive">{{ "Sign Up"|safe }}</button>
        </div>
    </form>
{% endblock %}