{% extends template_extends %}

{% load static %}
{% load i18n %}

{% block title %}Subscribe - CloudStorage{% endblock %}

{% block content %}
    <main class="subscribe-container">
        {% if user.is_authenticated %}
            <h1 class="display-4 subscribe-list__title">Subscription Plans</h1>
        {% else %}
            <h1 class="display-4 subscribe-list__title">Sign Up and Subscribe</h1>
        {% endif %}

        <div class="plans">
            {% for detail in details %}
                <div class="plan">
                    <span class="h2">{{ detail.plan }}</span>
                    {{ detail.html_content|safe }}
                    <div class="plan__description">
                        {{ detail.plan.plan_description }}
                    </div>
                    {% if detail.plan.plan_name == "Basic" %}
                        <div class="plan__description h6">Free</div>
                        <form method="post" action=
                                {% if user.is_authenticated %}
                                  "{% url 'dfs_subscribe_add' %}"
                                {% else %}
                                  "{% url 'signup-basic' %}"
                                {% endif %}>
                    {% elif detail.plan.plan_name == "Standard" %}
                        <div class="plan__description h6">0.99$</div>
                        <form method="post" action=
                                {% if user.is_authenticated %}
                                  "{% url 'dfs_subscribe_add' %}"
                                {% else %}
                                  "{% url 'signup-standard' %}"
                                {% endif %}>
                    {% else %}
                        <div class="plan__description h6">8.99$</div>
                        <form method="post"
                              action={% if user.is_authenticated %}
                                  "{% url 'dfs_subscribe_add' %}"
                              {% else %}
                                  "{% url 'signup-premium' %}"
                              {% endif %}>
                    {% endif %}
                    {% csrf_token %}
                    <input type="hidden" name="plan_id" value="{{ detail.plan.id }}">
                    <input type="hidden" name="plan_name" value="{{ detail.plan.plan_name }}">
                    <input type="hidden" name="redirect_from" value="subscribe_list">
                    <button type="submit"
                            class="btn btn-outline-primary card-signup-button">
                        {% if user.is_authenticated %}
                            Subscribe
                        {% else %}
                            {{ detail.subscribe_button_text|safe }}
                        {% endif %}
                    </button>
                    </form>
                </div>
            {% endfor %}
        </div>
        {#            <div class="footer">{{ plan_list.footer|safe }}</div>#}
    </main>
{% endblock %}
