* {
    margin: 0;
    padding: 0;
}

html,
body {
    /*height: 100%;*/
}

body {
    background: #f5f5f5;
}

.header {
    padding: 15px 150px;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 rgba(194, 194, 194, 0.24)
}
@media (max-width: 1070px) {
    .header {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media (max-width: 650px) {
    .header {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.header .header__title {
    margin-right: 30px;
    padding-top: 0;
    padding-right: 30px;
    background-image: url(../../static/image/cloud.png);
    background-repeat: no-repeat;
    background-position: right;
    font-size: 22px;
    font-weight: 600;
}
@media(max-width: 767px) {
    .navbar-display {
        display: flex;
    }
    .header-buttons {
        display: flex;
        flex-direction: column;
    }
    .header-button {
        padding: .5rem 1rem;
    }
}

.dropdown-toggle::after {
    width: 5px;
    height: 5px;
    border-top: 1px solid #444;
    border-left: none;
    border-right: 1px solid #444;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.header .header__button-signup {
    height: 45px;
    width: 130px;
    font-weight: 600;
    text-decoration: none;
}

.header .header__button-signup span {
    display: block;
    padding-top: 3px;
    text-decoration: none;
}

.header .header__button-signup:focus {
    outline: none;
    box-shadow: none;
}

.header .header__button-login {
    font-weight: 600;
    text-decoration: none;
}

.header .header__links {
    font-weight: 600;
    font-size: 16px;
}

.header .header__links li {
    margin-right: 30px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Plan cards styles */

#dfs-container {
    font: inherit;
    padding-top: 60px;
    background-color: #f5f5f5;
}

.subscribe-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.subscribe-form {

}

#dfs-container .subscribe-container .plans {
    margin-top: 30px;
    padding-top: 0;
}

#dfs-container .subscribe-container .plan {
    min-width: 320px;
    min-height: 540px;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

@media(max-width: 340px) {
    #dfs-container .subscribe-container .plan {
        min-width: unset;
    }
}

#dfs-container .button-positive {
    background-color: #2789d5;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    min-width: 150px;
}

#dfs-container .button-positive:hover {
    border-color: #237bbf;
    background-color: #237bbf;
    color: #ffffff;
}

.plan__description {
    font-size: 20px;
}

.signup-button {
    margin-top: 15px;
    width: 100%;
}

.card-signup-button {
    width: 225px;
}

@media screen and (max-width: 1025px) {
    #dfs-container .subscribe-container .plans {
        align-items: center;
    }
}

.plan-icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* Login */

.base-body, .dfs-container {
    background-color: #f7f7f5;
}

.login-card {
    margin: 150px auto 0 auto;
    padding: 15px;
    border-radius: 5px;
}

/* Sign up */
.signup-card {
    margin: 20px auto;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
}

.signup-card .signup-card__title {
    text-align: center;
    font-size: 30px;
}


/* Storage Upload */


.file-checkbox:hover, .select-all:hover, .js-upload-files-link {
    cursor: pointer;
}

.drag-and-drop {
    height: 20%;
    padding: 6rem 0;
}

.js-upload-files-link {
    /*color: #17a2b8;*/
}

.js-upload-files-text {
    cursor: default;
}

.before-table-content {
    height: 65px;
    display: flex;
    align-items: center;
}

.before-table-content:hover {
    cursor: pointer;
}

.search-filter-content {
    display: none;
}

.search-filter-form {
    width: 100%;
    display: flex;
}

.search-bar {
    display: inline-flex;
    align-items: flex-start;
}

.search-bar-form {
    /*width: 200px;*/
    display: inline-flex;
}

.search-bar-form > div {
    width: 250px;
}

.search-button {
    margin-left: 15px;
    width: 90px;
}

.filters-bar {
    display: inline-flex;
    margin-left: auto;
}

.filter-button {
    margin-left: 5px;
    border-radius: 4px;
}

.storage-buttons > div:last-child {
    margin: 0 0 0 15px;
}

.storage-buttons {
    margin-left: auto;
    display: inline-flex;
    justify-content: flex-end;
}

.storage-size-info {
    margin-left: 5%;
    display: inline-flex;
}

.search-bar-icon, .chevron-icon {
    margin: 4px 0 0 12px;
    color: #6c757d;
}

.storage-size-info-text {
    /*cursor: default;*/
    color: #495057;
    font-weight: bold;
}

.i-delete {
    display: inline;
}

.i-download {
    display: inline;
    margin-left: 15%;
}

.table-sortable-column-name:hover {
    cursor: pointer;
}

.sort-icon {
    display: none;
}

.sort-icon:hover {
    cursor: pointer;
}

.btn-download-selected:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1c6";
    margin-left: 5%;
}

.btn-delete-selected, .btn-download-selected {
    height: 42px;
}

.btn-download-selected {
    width: 169px;
}

.image-wrapper {
    width: 54px;
    height: 48px;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action-icon {
    font-size: 1.1rem;
}

.action-icon:last-child {
    margin-left: 10%;
}

/* Profile styles */

.profile-wrapper {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-image-column {
    height: 100%;
    /*display: inline-flex;*/
}

.profile-image {
    max-width: 320px;
    max-height: 320px;
    width: 100%;
}

.profile-info-column {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.profile-info-column-item {
    margin-top: 5%;
    align-self: flex-start;
}

.profile-info-column-item:last-child {
    margin: 15% 0 0 5%;
}

.profile-info {
    display: inline-block;
}

.btn-save-changes {
    margin-top: 15px;
    width: 100%;
}

.profile-button {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.profile-password-link {
    color: #007bff !important;
    cursor: pointer;
}

.profile-password-link:hover {
    color: #0056b3 !important;
    text-decoration: underline !important;
}

.profile-subscription-title {
    font-size: 20px;
}

.profile-subscription-link {
    margin-left: auto;
}

.profile-form-field__link {
    font-size: 14px;
}

.profile-button__save {
    width: 100%;
}

.profile-title {
    font-size: 34px;
    margin-bottom: 10px;
}

.profile-form {
    margin-top: 60px;
}

.password-field {
    margin-bottom: 1rem;
}

.password-form {
    margin-top: 15px;
}

.password-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.profile-form__info {
    max-width: 300px;
    width: 100%;
}

.profile-form__image,
.profile-form__info {
    margin: 0 30px;
}

@media(max-width: 991px) {
    .profile-form__info {
        margin: 0;
        max-width: 320px;
    }
    .profile-form__image {
        margin: 0;
    }
}

.profile-form__image {
    margin-bottom: 30px;
}

.profile-block {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-subscription {
    margin-top: 16px;
}

.password-block {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 50px auto 0;
}

.password-header {
    margin-bottom: 20px;
}

.password-block ul {
    margin-left: 18px;
}

/* Subscribe preview */


#dfs-container .subscribe-container .subscribe-form {
    padding: 1rem 0;
}

#dfs-container .subscribe-container .form-field {
    margin: 0.5rem 0;
    max-width: 600px;
}

#dfs-container .subscribe-container .form-field input,
#dfs-container .subscribe-container .form-field select {
    display: block;
    font-size: 1.5rem;
}

#dfs-container .subscribe-container .form-field input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#dfs-container .subscribe-container .form-field-label {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.25rem 0;
}

#dfs-container .subscribe-container .form-field-help-text {
    display: block;
    font-size: 1rem;
    font-style: italic;
    padding: 0.5rem 0;
}

#dfs-container .subscribe-container #id_plan_cost {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dfs-container .subscribe-container #id_plan_cost li {
    margin: 0.5rem 0;
}

#dfs-container .subscribe-container #id_plan_cost label {
    cursor: pointer;
}

#dfs-container .subscribe-container .form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#dfs-container .subscribe-container .form-field input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

#dfs-container .subscribe-container .h1 {
    font-size: 28px;
    font-weight: 400;
}

#dfs-container .subscribe-container .form-field-label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

#dfs-container .subscribe-container .form-field label {
    display: block;
}

#dfs-container .subscribe-container .form-field input, #dfs-container .subscribe-container .form-field select {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#dfs-container .subscribe-container .form-field {
    margin: 0 0;
    max-width: 100%;
}

#dfs-container .subscribe-container {
    /*max-width: fit-content;*/
}


.confirmation-text {
    text-align: center;
    margin-bottom: 25px;
}

#dfs-container .subscribe-container h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.confirmed-link {
    text-align: center;
}

#dfs-container main a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 22px;
}

#dfs-container main a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.upload-link {
    color: #007bff;
}

.upload-link:hover {
    text-decoration: underline;
}

#dfs-container .subscribe-preview-container {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0 30px;
    background-color: #ffffff;
    border-radius: 5px;
    min-width: 300px;
    width: 100%;
    max-width: 48em;
}

/* Stats styles */

.stats-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}
.stats-footer {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.open-storage-link {
    font-size: 20px;
}

.stats-items {

}

.stats-item {
    font-size: 20px;
    font-weight: 500;
}

@media(max-width: 767px) {
    .open-storage-link {
        margin-top: 20px;
    }
}

/* End stats style */

/*@media(max-width: 900px) {*/
/*    .hidden-column {*/
/*        display: none;*/
/*    }*/
/*}*/

.overview-table {
    width: 100%;
    table-layout: fixed;
}
.table-body {
    word-wrap: break-word;
}
.select-col {
    width: 30px;
}

.preview-column {
    width: 100px;
}

.actions-column {
    width: 100px;
}

.filename-column {
    width: 300px;
}

@media (max-width: 991px) {
    .filename-column {
        width: unset;
    }
}

@media(max-width: 767px) {
    .hidden-column {
        display: none;
    }
}

.form-group ul {
    margin-left: 15px;
}

@media(max-width: 404px) {
    .actions-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .i-download {
        margin-top: 5px;
        margin-left: 0;
    }
}

@media (max-width: 380px) {
    .overview-table {
        font-size: 14px;
    }
    .storage-size-info {
        font-size: 12px;
    }
    .search-bar-icon, .chevron-icon {
        margin-left: 5px;
    }
    .overview-title {
        font-size: 28px;
    }
}

@media(max-width: 496px) {
    .subscribe-list__title {
        font-size: 46px;
    }
}

/* Home page styles */
.home-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.home-info {
    width: 300px;
}

.home-title {
    font-size: 46px;
    font-weight: 700;
}

.home-text {
    margin-top: 20px;
    font-size: 22px;
}

.home-title:hover, .home-text:hover {
    cursor: pointer;
}

.home-image {
    width: 100%;
}

.home-button {
    padding: .5rem 1rem;
}

.home-button-text {
    font-size: 20px;
}

@media(max-width: 994px) {
    .home-container {
        flex-direction: column;
    }

    .home-info {
        width: 80%;
        margin: auto;
    }

    .home-image {
        display: inherit;
        margin: 50px auto;
        width: 500px;
    }
}

@media(max-width: 550px) {
        .home-image {
        width: 300px;
    }
}
