{% load static %}

<nav class="navbar navbar-expand-md navbar-light header">
    <a class="navbar-brand header__title"
       href=
               {% if not user.is_authenticated %}
                   {% url 'home' %}
               {% else %}
                   {% url 'overview' %}
               {% endif %}>
        Cloud Storage
    </a>

    <button class="navbar-toggler navbar-toggle-focus" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-display" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto header__links">
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dfs_subscribe_list' %}">Plans</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'overview' %}">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stats' %}">Stats</a>
                </li>
            {% endif %}
        </ul>

        <div class="header-buttons">
            {% if not user.is_authenticated %}
                <a class="btn btn-link header-button header__button-login" href="/users/login">Log In</a>
                <a class="btn btn-primary header-button header__button-signup"
                   href={% url 'dfs_subscribe_list' %}><span>Get Started</span></a>
            {% else %}
                <a class="btn btn-link header-button header__button-login" href="/users/profile">
                    {% if user.first_name != '' %}
                        {{ user.first_name }}
                    {% else %}
                        Profile
                    {% endif %}
                </a>
                <a class="btn btn-link header-button header__button-login" href="/users/logout">Logout</a>
            {% endif %}
        </div>
    </div>
</nav>