{% extends 'base.html' %}
{% load static %}


{% block javascript %}
    <script src="{% static 'js/jquery/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-file-upload/jquery.fileupload.js' %}"></script>

    <script src="{% static 'js/jquery/file-upload/drag-and-drop-upload.js' %}"></script>
    <script src="{% static 'js/jquery/file-remove/multiple-remove.js' %}"></script>
{% endblock %}

{% block main %}
    <div>
        <div style="display: inline-block"><span class="text-muted">Cloud Storage usage: {{ used_size }} / {{ capacity }} mb</span></div>

        <div class="well text-muted text-center" style="padding-top: 4rem; padding-bottom: 4rem;">
            <span class="glyphicon glyphicon-arrow-down" style="font-size: 4rem;"></span>
            <h3>Drop Files Here to Upload</h3>
        </div>

        <div class="storage-buttons">
            <div class="file-upload" style="display: inline-block">
                <button type="button" class="btn btn-primary js-upload-files">
                    <span class="glyphicon glyphicon-cloud-upload">Upload files</span>
                </button>
                <input id="fileupload" type="file" name="file" multiple
                       style="display: none;"
                       data-url="{% url 'upload' %}"
                       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}", "user": "{{ user.id }}"}'>
            </div>

            <div class="select-all" style="display: inline">
                <button class="btn btn-dark btn-select-all" type="submit" value="{{ file.pk }}">Select all</button>
            </div>

            <div class="delete-selected" style="display: none">
                <button class="btn btn-danger btn-delete-selected" type="submit">Delete selected</button>
            </div>
        </div>

        <table id="files-list" class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col">Option</th>
                <th scope="col">Preview</th>
                <th scope="col">Filename</th>
                <th scope="col">Uploaded at</th>
                <th scope="col">Size</th>
                <th scope="col">Delete</th>
                <th scope="col">Download</th>
            </tr>
            </thead>
            <tbody>
                {% csrf_token %}
                {% for file in files %}
                    <tr class="current-file">
                        <td>
                            <input class='file-checkbox' type="checkbox" value="{{ file.id }}" name="file-check" id="file-check-id">
                        </td>
                        <td>
                            {% with extensions='.jpg .png .gif .jpeg .heic' %}
                                {% if file.extension in extensions %}
                                    <img width="100px" height="100px" src="../..{{ file.file.url }}"/>
                                {% else %}
                                    <img width="100px" height="100px" src="{% static 'image/default_file_icon.gif' %}">
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td><a href="{{ file.file.url }}">{{ file.title }} {{ file.file.content_type }}</a></td>
                        <td><span style>{{ file.uploaded_at }}</span></td>
                        <td><span>{{ file.size }}</span></td>
                        <td>
                            <div>
                                <button class="btn btn-danger btn-delete" type="submit" value="{{ file.pk }}" id="delete-button-id">Delete</button>
                            </div>
                        </td>
                        <td>
                            <a href="{{ file.file.url }}" download>
                                <button class="btn btn-primary" type="submit">Download</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}