{% extends 'base.html' %}
{% load static %}

{% block javascript %}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  <script src="{% static 'js/file-upload/upload.js' %}"></script>
{% endblock %}

{% block main %}
    <div style="margin-top: 100px">

        <form method="post">
            <button type="button" class="btn btn-primary js-upload-files">
              <span class="glyphicon glyphicon-cloud-upload"></span> Upload files
            </button>

            <input id="fileupload" type="file" name="file" multiple
                   style="display: none;"
                   data-url="{% url 'upload' %}"
                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
        </form>

        <table id="files-list" class="table table-bordered">
          <thead>
            <tr>
              <th>File</th>
            </tr>
          </thead>
          <tbody>
            {% for file in files %}
              <tr>
                <td><a href="{{ file.file.url }}">{{ file.file.name }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}